<div class="" fxLayout="row" fxLayoutAlign="center">
    <div fxLayout="column" fxFlex="900px">
        <form action="" class="mt-60" #clientesForm="ngForm">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Dados Pessoais</mat-card-title>
                </mat-card-header>
                <mat-card-content class="mt-20" fxLayoutGap="16px">
                    <div fxLayout="row" fxLayoutAlign="start">
                        <div fxLayout="column" fxFlex="800px">
                            <mat-form-field class="full-width">
                                <mat-label>Nome:</mat-label>
                                <input type="text" placeholder="Ex: João da Silva" matInput required>
                            </mat-form-field>
                        </div>
                    </div>

                    <div fxLayout="row" fxLayoutAlign="start">
                        <div fxLayout="column" fxFlex="800px">
                            <mat-form-field class="full-width">
                                <mat-label>Email:</mat-label>
                                <input type="email" placeholder="Ex: joao@dominio.com" matInput required>
                            </mat-form-field>
                        </div>
                    </div>

                    <div fxLayout="row" fxLayoutAlign="start">
                        <div fxLayout="column" fxFlex="400px">
                            <mat-form-field class="full-width">
                                <mat-label>CPF:</mat-label>
                                <input type="number" placeholder="Ex: 123.456.789-00" matInput required>
                            </mat-form-field>
                        </div>
                    </div>

                    <div fxLayout="row" fxLayoutAlign="start">
                        <div fxLayout="column" fxFlex="400px">
                            <mat-form-field class="full-width">
                                <mat-label>Data de Nascimento:</mat-label>
                                <input type="date" matInput required>
                            </mat-form-field>
                        </div>
                    </div>
                </mat-card-content>
                <mat-card-actions>
                    <button type="submit" mat-flat-button color="primary" [disabled]="clientesForm.invalid">
                        <mat-icon fontIcon="save"></mat-icon>
                        Salvar
                    </button>

                    <button type="submit" mat-flat-button color="primary" [disabled]="clientesForm.invalid">
                        <mat-icon fontIcon="refresh"></mat-icon>
                        Atualizar
                    </button>

                    <button type="submit" mat-flat-button color="accent" class="ml-5">
                        <mat-icon fontIcon="clear"></mat-icon>
                        Limpar
                    </button>
                </mat-card-actions>
            </mat-card>
        </form>
    </div>
</div>